# --- DATABASE CONFIGURATION ---
# Format: jdbc:postgresql://<host>:<port>/<database_name>
DB_URL=jdbc:postgresql://localhost:5432/finance_reservation_db
DB_USERNAME=your_local_pg_username
DB_PASSWORD=your_local_pg_password
SERVER_PORT=8083
